In [1]:
print("Hello")

Hello

In [2]:
a = 10
print('The value of a is', a)
print("The value os a is",a)

The value of a is 10
The value os a is 10

In [3]:
a=10767868
print(a)
print(type(a))

10767868
<class 'int'>

In [4]:
z=10.090
print(z)
print(type(z))

10.09
<class 'float'>

In [5]:
c = 1+2j
print(c)
print(type(c))

(1+2j)
<class 'complex'>

In [6]:
import math
p=math.pow(2,4)
print(p)

16.0

In [7]:
c1=2+3j
c2=4+3j

print(c1+c2)
print(c2-c1)
print(c2*c1)
print(c2/c1)

(6+6j)
(2+0j)
(-1+18j)
(1.3076923076923077-0.46153846153846156j)

In [8]:
global=1   #keyword as variable

SyntaxError: invalid syntax (<ipython-input-8-0b2dfa1c24b5>, line 1)

In [18]:
import keyword
print(keyword.iskeyword("break"))
print(keyword.iskeyword("if"))
print(keyword.iskeyword("Anant"))
print(keyword.iskeyword("Anjali"))
print(dir(keyword))

True
True
False
False
['__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'iskeyword', 'kwlist']

In [10]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9
print(a)

45

In [11]:
a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9)
print(a)

45

In [12]:
w = "apple is a fruit"
print(w)

# assigning a new value to w
w = "mongo is a fruits"
print(w)

apple is a fruit
mongo is a fruits

In [13]:
#Assigning multiple values to multiple variables
a, b, c = 5, 3.2, "Hello"

#print is different line
print (a)
print (b)
print (c)

print()
#print in same line
print(a, b, c, end=" ")

5
3.2
Hello

5 3.2 Hello

In [14]:
#Arithmetic Operators
x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)

# Output: x - y = 11
print('x - y =',x-y)

# Output: x * y = 60
print('x * y =',x*y)

# Output: x / y = 3.75
print('x / y =',x/y)

# Output: x // y = 3
print('x // y =',x//y)

# Output: x ** y = 50625
print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

In [15]:
#Comparison operators in Python
x = 9
y = 12

# Output: x > y is False
print('x > y is',x>y)

# Output: x < y is True
print('x < y is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

In [16]:
#Logical Operators in Python
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

In [17]:
#Identity operators in Python
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

False
True
False

In [18]:
an = input("Enter the string")
print(an)
type(an)

Enter the stringaaa
aaa

str

In [20]:
an1 = int(input())     #float
print(an1)
type(an1)

3
3

int

In [21]:
#Membership operators in Python
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('h' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('a' in y)

False
True
True
False

In [22]:
# If the number is positive, we print an NUM is a positive number

num = 30
if num > 0:
    print(num, "is a positive number.")
print("This is always printed.")

num = -1
if num > 0:
    print(num, "is a positive number.")
print("This is also always printed.")

30 is a positive number.
This is always printed.
This is also always printed.

In [23]:
num = -9

if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

Negative number

In [24]:
num = 0

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [25]:
'''In this program, we input a number
check if the number is positive or
negative or zero and display
an appropriate message
This time we use nested if statement'''

num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: 23
Positive number

In [1]:
i = range(2,10)
print(i)

range(2, 10)

In [2]:
for _ in range(0,10):
  print(_,end="  ")

0  1  2  3  4  5  6  7  8  9

In [4]:
for x in range(0,10,2):
  print(x,end="  ")

0  2  4  6  8

In [28]:
for x in range(-10,10,2):
  print(x,end="  ")

-10  -8  -6  -4  -2  0  2  4  6  8

In [29]:
for x in range(20):
  print(x,end="  ")

0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19

In [30]:
s="banana"
for x in s:
  print(x,end=" ")

b a n a n a

In [10]:
for i in range(0,5):
    for j in range(0,5):
        print(j,end=" ")
    print(i)
    
print("End of loop")

0 1 2 3 4 0
0 1 2 3 4 1
0 1 2 3 4 2
0 1 2 3 4 3
0 1 2 3 4 4
End of loop

In [31]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [32]:
# Program to add natural
# numbers up to n

# To take input from the user,
n = int(input("Enter n: "))
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1  

# print the sum
print("The sum is", sum)

Enter n: 2
The sum is 3

In [33]:
'''Example to illustrate
the use of else statement
with the while loop'''

counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [34]:
# Use of break statement inside the loop

for val in "string":
    if val == "i":
        break
    print(val)

print("The end")

s
t
r
The end

In [35]:
# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)
else:
    print("The end")

s
t
r
n
g
The end

In [12]:
'''pass is just a placeholder for
functionality to be added later.'''
sequence = {'p', 'a', 's', 's'}
for val in sequence:
    pass

print("Bye")

Bye

In [17]:
a = """hello"""
print(a)
print(type(a))
print(dir(a))

hello
<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']